.content-wrapper {
    background-color: #f0f0f0;
}
header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header */
}

footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
}
body {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer */
}
